<div>
  <h1>Bienvenue sur notre formulaire</h1>  
  <div class="sub-text">C'est un tres beau formulaire</div>
  <app-section1 *ngIf="current_section==='section1'"></app-section1>
  <app-section2 *ngIf="current_section==='section2'"></app-section2>
  <app-section3 *ngIf="current_section==='section3'"></app-section3>
  <app-section4 *ngIf="current_section==='section4'"></app-section4>
  <app-section5 *ngIf="current_section==='section5'"></app-section5>
  <app-section6 *ngIf="current_section==='section6'"></app-section6>
</div>